[Unit]
Description=Barcode Print Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=30
User=<user>
ExecStart=<absolute-path>/run-server-local.sh

[Install]
WantedBy=multi-user.target